<p style="margin-left:40px;">Thank you for submitting your address! You will receive your card soon</p>

<img src="http://link.p0.com/1x1c.dyn?p=74VXKALN" width=0 height=0/>

<!--- 9/7/11 pixel for Andrew Yahoo --->
<!-- Advertiser 'Loeb Enterprises, LLC',  Conversion tracking 'YourRx_CardConversionPixel' - DO NOT MODIFY THIS PIXEL IN ANY WAY -->
<img src="https://ad.yieldmanager.com/pixel?id=1325201&t=2" width="1" height="1" />
<!-- End of conversion tag -->
